body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

/* App */
.app {
  text-align: center;
  padding-top: 20px;
}

/* Search */
input[type="text"] {
  width: 500px;
  height: 24px;
  margin: 0 auto 20px;
  display: block;
  border: 1px solid #aaa;
}

/* Container */
.countriesContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

/* Card */
.countryCard {
  width: 130px;
  height: 120px;
  border: 1px solid #ddd;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Image */
.countryCard img {
  width: 70px;
  height: 45px;
  object-fit: contain;
}

/* Text */
.countryCard p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
}