.countriesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.countryCard {
  width: 120px;
  height: 120px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countryCard img {
  width: 60px;
  height: 40px;
}

.countryCard p {
  font-size: 12px;
}